/*
// Add your own style rules here, not in css/main.css
// or css/setting.css for easy updating reasons.
*/
input.setting.element.text{
    width:40%;
}
#search {
    display: none;

}
label.setting.label.text {
    display:inline-block;
    min-width:25%;
}