body, table.content-table thead, table.content-table tr.head, .report-content .report-element table th.sorted {background:#111; background-image:none; }
.report-content, .report-content .report-element table {background:transparent; color:white;}
.report-content .report-element table { position: relative; }
.report-content.report-summary .report-element { background:transparent; border:none;}
.report-content .wait-element .message, .report-content .report-element.depth-0, .report-content .report-element, .report-content.report-summary .report-element {  background:transparent; }
.report-content.report-summary .report-elements .report-element { border:none;font-size:20px; overflow:visible;}
table.content-table tr td div.ok a { width:90%; color: rgb(0,255,30); font-size:22px; background: transparent; }
table.content-table tr td div.major a { width:90%; color: yellow; font-weight: bold; font-size:22px; background: transparent; }
table.content-table tr td div.critical a { width:90%; color: red; font-weight: bold; font-size:24px; background: transparent; }
table.content-table tr td div.ok { margin: 0 auto; width:100px; height:20px; color: rgb(0,255,30); font-size:22px; background-image: url('http://lintutorni.elisa.fi:8080/APG/custom/images/ok.png'); }
table.content-table tr td div.major { margin: 0 auto; width:100px; height:20px; color: yellow; font-weight: bold; font-size:22px; background-image: url('http://lintutorni.elisa.fi:8080/APG/custom/images/info.png'); }
table.content-table tr td div.critical { margin:0 auto; width:100px; height:20px; color: red; font-weight: bold; font-size:22px; background-image: url('http://lintutorni.elisa.fi:8080/APG/custom/images/error.png'); }
.report-content .report-element table .odd, .report-content .report-element table .even { background-color: transparent;}
.report-content .report-element tbody tr, .report-content .report-element tbody td { border-left:none; border-right:none; border-bottom:1px solid #B8C1D6;}
.report-content .report-element table th a, .report-content .report-element table th.sorted a { display:inline-block; text-align:center; width:90%; font-size:26px; font-weight:bold; color: #ccc; }
.report-content .report-element table th.sorted a {  color:white;}
.report-header h1, #breadcrumbs, .tablebanner, table.content-table th div.help { display: none}
.graph {background-color:white;}
.report-header .report-range { font-size:15px; color: #ccc; font-weight: bold;}
span:not(.sparkvalue):not(.sparkline) { color: white; }
.report-element { border-radius:10px;}
td .string, .content-table tbody a { text-shadow: 2px 2px 16px black;}
table.content-table { border:none; }
.report-content .report-element h2.report-name { font-size: 40px; }
.content-table > thead > tr > th:first-child { visibility:hidden;}
.report-content .graph-element .graph, .map-report { overflow:visible; border:2px solid #ccc;}
.report-content .report-element thead tr, .report-content .report-element thead td, .report-content .report-element thead th { border-left:none; border-right:none; border-top:none; border-bottom: 5px solid #eee }
.report-content .graph-element .graph, .map-report { background-color: transparent; border:none;}
table.content-table th .bigger, table.content-table tr .bigger, table.content-table tr.node div.string { font-size: 28px; font-weight:bold;}
.report-content .error-element .report-name span, .report-content .wait-element .report-name span, .report-content .report-element.no-drilldown .report-name span { color: black; }
table.content-table tr td a { font-size: 22px; color: white; height:20px;}
.report-content.report-summary .report-element h2 img { visibility: hidden; }
