.ui-tabs .ui-tabs-nav {
    display:none;

}
body, #tabs, #elementContainer, #tmpContainer, .ui-widget-content {
    background:none;
    background-color:black;

}
#elementContainer {
    position:absolute;
    left:20%;
}
#forecasts, div.anim_txt {
    color:white;
}
.ui-widget-content {
    border:none;
}