
html,body,ul, li {
    margin:0;
    padding:0;
    overflow:hidden;
}
.im-cp-showcontainer {
    overflow:hidden;
}
.im-cp-slide {
    margin:0;
    padding:0;
    position:absolute;
    top:0;
    left:0;
    visibility:hidden;
}
.im-cp-viewer {
    width:100%;
    height:100%;
    overflow:hidden;
}
#im-cp-message {
    position:absolute;
    top:45%;
    left:45%;
    padding:20px;
    border-radius:10px;
    background-color:#008ac9;
    border:2px solid #0093ce;
    color:#fff;
}


