h1, #errorSummary, #suggestions {
    display:none;
}
@-webkit-keyframes bounce {
 from {
   top:30%;

 }
 to {
   top:50%;

 }
}

#box {
    top:40%;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-name: bounce;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: linear;
    position:absolute;
    left:12%;

}
#errorDetails {
    font-weight:bold;
    padding-top:0;
    margin-bottom:30px;
    text-align:center;
}