body {
    background-color:black;
    color:white;

}
td, td.otsikko {
    background-image:none;
    background-color:transparent;
    color:white;
}
.elisanavibg {
    display:none;

}
html body table tbody tr td img {
    visibility:hidden;
}
img[usemap] {
    visibility:visible;
}
td[width] {
    visibility:hidden;

}
tbody tr td[valign] table {
    width: 100%;
}